.content {
  text-align: start;
  &__topTitle {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    margin-top: 10px;
  }
  &__title {
    font-size: 28px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
  }
  &__subTitle {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
  }
  &__types {
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #666666;
  }
  &__present {
    font-size: 14px;
    line-height: 16px;
    color: #666666;
  }
  @media (min-width: 768px){
    &__topTitle {
      font-size: 16px;
      line-height: 19px;
    }
    &__title {
      font-size: 38px;
      line-height: 46px;
    }
    &__subTitle {
      font-size: 20px;
      line-height: 24px;
    }
    &__types {
      margin-top: 10px;
      font-size: 14px;
      line-height: 16px;
    }
    &__present {
      font-size: 14px;
      line-height: 16px;
    }
    
  }
  @media (min-width: 1240px){

    &__topTitle {
      font-size: 16px;
      line-height: 19px;
      margin-top: 0px;
    }
    &__title {
      font-size: 48px;
      line-height: 56px;
    }
    &__subTitle {
      font-size: 24px;
      line-height: 28px;
    }
    &__types {
      margin-top: 15px;
      font-size: 14px;
      line-height: 16px;
    }
    &__present {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
